.wrapper {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #cecece;
}

.info {
  margin: 5px 0;
}

.error {
  color: red;
}

.authText {
  margin: 5px 0;
  color: #75dd4b;
}
